body {
    margin: 0;
}

#app {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

table {
    padding: 20px;
}

button {
    width: 100px;
    height: 30px;
    background-color: rgb(186, 160, 241);
    color: rgb(250, 247, 247);
    border: none;
    font-weight: bold;

}

button:hover {
    background-color: rgb(123, 123, 123);
    color: rgb(186, 160, 241);
}